@media only screen and (min-width: 320px) and (max-width: 575px) {

/*------- Common CSS Starts -------*/

body.active { overflow: hidden; }
.container-fluid { padding: 20px 15px; }
.section-heading > h2 { font-size: 2.7rem; margin-bottom: 20px; }
p { font-size: 1.6rem; text-align: justify; }

/*------- Common CSS Ends -------*/

/*------- Home Page Starts -------*/

  /*------- Hamburger Menu Section Starts -------*/

.bg-hamburger-menu { display: block; padding: 0; }
.bg-hamburger-menu > .row { margin: 0; }
.hamburger-menu { background-color: var(--primary-color); cursor: pointer; height: 50px; margin: 0 auto; position: relative; width: 50px; z-index: 3; }
.hamburger-menu span { background-color: var(--white); height: 2px; left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); -webkit-transition: 0.5s ease 0.5s; -moz-transition: 0.5s ease 0.5s; -ms-transition: 0.5s ease 0.5s; -o-transition: 0.5s ease 0.5s; transition: 0.5s ease 0.5s; width: 25px; z-index: 1; }
.hamburger-menu span::before,
.hamburger-menu span::after { background-color: var(--white); content: ""; display: block; height: 2px; position: absolute; top: 10px; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 25px; z-index: 1; }
.hamburger-menu span::before { top: -10px; }
.hamburger-menu.active span { background-color: transparent; -webkit-transition: 0s ease; -moz-transition: 0s ease; -ms-transition: 0s ease; -o-transition: 0s ease; transition: 0s ease; }
.hamburger-menu.active span::before { background-color: var(--white); top: 0; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.hamburger-menu.active span::after { background-color: var(--white); top: 0; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }

  /*------- Hamburger Menu Section Ends -------*/

  /*------- Mobile Menu Section Starts -------*/

.navbar-menu-mobile { background-color: var(--primary-color); display: block; height: 100%; left: 0; position: absolute; top: 0; -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); -ms-transform: translateY(-100%); -o-transform: translateY(-100%); transform: translateY(-100%); -webkit-transition: 0.5s ease 1s; -moz-transition: 0.5s ease 1s; -ms-transition: 0.5s ease 1s; -o-transition: 0.5s ease 1s; transition: 0.5s ease 1s; width: 100%; z-index: 2; }
.navbar-menu-mobile.active { -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); -webkit-transition: 1s ease; -moz-transition: 1s ease; -ms-transition: 1s ease; -o-transition: 1s ease; transition: 1s ease; }
.menu-listing-mobile { left: 50%; opacity: 0; position: absolute; text-align: center; top: 45%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); -webkit-transition: 1s ease 0s; -moz-transition: 1s ease 0s; -ms-transition: 1s ease 0s; -o-transition: 1s ease 0s; transition: 1s ease 0s; visibility: hidden; width: 100%; z-index: 2; }
.menu-listing-mobile.active { opacity: 1; top: 50%; -webkit-transition: 1s ease 1s; -moz-transition: 1s ease 1s; -ms-transition: 1s ease 1s; -o-transition: 1s ease 1s; transition: 1s ease 1s; visibility: visible; }
.menu-listing-mobile > li > a { color: var(--white); display: block; font: 3rem/1.4 "Mulish-Bold"; overflow: hidden; padding: 5px 0; text-transform: uppercase; }
.menu-listing-mobile > li > a .first-word,
.menu-listing-mobile > li > a .second-word { display: inline-block; position: relative; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.menu-listing-mobile > li > a .second-word { margin-left: -8px; }
.menu-listing-mobile > li > a .first-word::before,
.menu-listing-mobile > li > a .second-word::before { content: attr(data-hover); position: absolute; }
.menu-listing-mobile > li > a .first-word::before { color: var(--secondary-color); top: 160%; }
.menu-listing-mobile > li > a .second-word::before { bottom: 160%; color: var(--secondary-color); }
.menu-listing-mobile > li.active > a .first-word,
.menu-listing-mobile > li > a:hover .first-word { -webkit-transform: translate3d(0, -160%, 0); -moz-transform: translate3d(0, -160%, 0); -ms-transform: translate3d(0, -160%, 0); -o-transform: translate3d(0, -160%, 0); transform: translate3d(0, -160%, 0); }
.menu-listing-mobile > li.active > a .second-word,
.menu-listing-mobile > li > a:hover .second-word { -webkit-transform: translate3d(0, 160%, 0); -moz-transform: translate3d(0, 160%, 0); -ms-transform: translate3d(0, 160%, 0); -o-transform: translate3d(0, 160%, 0); transform: translate3d(0, 160%, 0); }

	/*------- Mobile Menu Section Ends -------*/

  /*------- Desktop Menu Section Starts -------*/

.bg-menu-desktop { display: none; }

	/*------- Desktop Menu Section Ends -------*/

  /*------- Banner Section Starts -------*/

.bg-banner { padding-bottom: 0; }
.bg-banner,
.box-banner-info { height: auto; }
.banner-info { position: static; -webkit-transform: none; -moz-transform: none; -ms-transform: none; -o-transform: none; transform: none; }
.banner-logo > a { margin-bottom: 20px; }
.banner-logo > a > img { width: 200px; }
.banner-page-name > h1 { font-size: 3rem; margin-bottom: 20px; }
.banner-page-name > h1 > span { display: inline; }
.box-banner-image { -webkit-border-radius: 24px; -moz-border-radius: 24px; -ms-border-radius: 24px; -o-border-radius: 24px; border-radius: 24px; height: 50vh; }

  /*------- Banner Section Ends -------*/

  /*------- About Us Section Starts -------*/

.about-image > img { margin-bottom: 20px; }
.about-info > p { margin-bottom: 15px; }

  /*------- About Us Section Ends -------*/

  /*------- Counter Section Starts -------*/

.bg-counter { padding-bottom: 0; }
.box-counter { margin-bottom: 20px; }
.counter-name > span { font-size: 2rem; }
.box-counter > h2 { font-size: 2.7rem; }

  /*------- Counter Section Ends -------*/

  /*------- Gallery Section Starts -------*/

.box-gallery { margin-bottom: 20px; }
.box-gallery-heading > h3 { font-size: 1.8rem; }
.view-more-gallery { margin-top: 0; }

  /*------- Gallery Section Ends -------*/

  /*------- Footer Section Starts -------*/

.footer-row-border-top-bottom { border-top: 0; }
.footer-middle-border-lr { border-left: 0; border-right: 0; }
.footer-useful-links-heading,
.quick-links-listing { padding-left: 0; }
.footer-heading > h4 { margin-top: 0; text-align: left; }
.footer-logo { margin: 30px 0; }
.footer-contact-address,
.footer-mob-email,
.footer-about-desc > p { margin-bottom: 20px; }
.footer-contact-address > address > p { text-align: left; }
.footer-contact-address > address > p > span { display: block; }
.footer-mob-email > p,
.footer-about-desc > p { text-align: left; }
.footer-heading-about,
.footer-heading-follow-us { padding-right: 0; text-align: center; }
.footer-social-links-listing { justify-content: flex-start; margin-bottom: 20px; }
.copyright-info > p { font-size: 1.5rem; margin-top: 20px; text-align: center; }

  /*------- Footer Section Ends -------*/

/*------- Home Page Ends -------*/

/*------- About Us Page Starts -------*/

  /*------- About Us Section Starts -------*/

.about-info-more-ap { margin: 15px 0 0; }
.about-info-more-ap > p { margin-bottom: 15px; }

  /*------- About Us Section Ends -------*/

/*------- About Us Page Ends -------*/

/*------- Gallery Page Starts -------*/

  /*------- Gallery Section Starts -------*/

.gallery-listing { display: block; margin-bottom: 15px; }
.gallery-listing > li { display: block; margin: 0 0 15px 0; padding: 7px 25px; }
.gallery-listing > li:last-child { margin-bottom: 20px; }
.grid-item { width: 100%; }

  /*------- Gallery Section Ends -------*/

/*------- Gallery Page Ends -------*/

/*------- Contact Us Page Ends -------*/

  /*------- Contact Us Section Starts -------*/

.box-contact-info-cp { margin-bottom: 55px; }
.box-email-contact-info-cp { margin-bottom: 0; }
.box-contact-info-cp > p > a { display: block; margin-bottom: 0; }

  /*------- Contact Us Section Ends -------*/

/*------- Contact Us Page Ends -------*/

}

@media only screen and (min-width: 576px) and (max-width: 767px) {

/*------- Common CSS Starts -------*/

body.active { overflow: hidden; }
.container-fluid { padding: 20px 15px; }
.section-heading > h2 { font-size: 2.7rem; margin-bottom: 20px; }
p { font-size: 1.6rem; text-align: justify; }

/*------- Common CSS Ends -------*/

/*------- Home Page Starts -------*/

  /*------- Hamburger Menu Section Starts -------*/

.bg-hamburger-menu { display: block; padding: 0; }
.bg-hamburger-menu > .row { margin: 0; }
.hamburger-menu { background-color: var(--primary-color); cursor: pointer; height: 50px; margin: 0 auto; position: relative; width: 50px; z-index: 3; }
.hamburger-menu span { background-color: var(--white); height: 2px; left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); -webkit-transition: 0.5s ease 0.5s; -moz-transition: 0.5s ease 0.5s; -ms-transition: 0.5s ease 0.5s; -o-transition: 0.5s ease 0.5s; transition: 0.5s ease 0.5s; width: 25px; z-index: 1; }
.hamburger-menu span::before,
.hamburger-menu span::after { background-color: var(--white); content: ""; display: block; height: 2px; position: absolute; top: 10px; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 25px; z-index: 1; }
.hamburger-menu span::before { top: -10px; }
.hamburger-menu.active span { background-color: transparent; -webkit-transition: 0s ease; -moz-transition: 0s ease; -ms-transition: 0s ease; -o-transition: 0s ease; transition: 0s ease; }
.hamburger-menu.active span::before { background-color: var(--white); top: 0; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.hamburger-menu.active span::after { background-color: var(--white); top: 0; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }

  /*------- Hamburger Menu Section Ends -------*/

  /*------- Mobile Menu Section Starts -------*/

.navbar-menu-mobile { background-color: var(--primary-color); display: block; height: 100%; left: 0; position: absolute; top: 0; -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); -ms-transform: translateY(-100%); -o-transform: translateY(-100%); transform: translateY(-100%); -webkit-transition: 0.5s ease 1s; -moz-transition: 0.5s ease 1s; -ms-transition: 0.5s ease 1s; -o-transition: 0.5s ease 1s; transition: 0.5s ease 1s; width: 100%; z-index: 2; }
.navbar-menu-mobile.active { -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); -webkit-transition: 1s ease; -moz-transition: 1s ease; -ms-transition: 1s ease; -o-transition: 1s ease; transition: 1s ease; }
.menu-listing-mobile { left: 50%; opacity: 0; position: absolute; text-align: center; top: 45%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); -webkit-transition: 1s ease 0s; -moz-transition: 1s ease 0s; -ms-transition: 1s ease 0s; -o-transition: 1s ease 0s; transition: 1s ease 0s; visibility: hidden; width: 100%; z-index: 2; }
.menu-listing-mobile.active { opacity: 1; top: 50%; -webkit-transition: 1s ease 1s; -moz-transition: 1s ease 1s; -ms-transition: 1s ease 1s; -o-transition: 1s ease 1s; transition: 1s ease 1s; visibility: visible; }
.menu-listing-mobile > li > a { color: var(--white); display: block; font: 3rem/1.4 "Mulish-Bold"; overflow: hidden; padding: 5px 0; text-transform: uppercase; }
.menu-listing-mobile > li > a .first-word,
.menu-listing-mobile > li > a .second-word { display: inline-block; position: relative; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.menu-listing-mobile > li > a .second-word { margin-left: -8px; }
.menu-listing-mobile > li > a .first-word::before,
.menu-listing-mobile > li > a .second-word::before { content: attr(data-hover); position: absolute; }
.menu-listing-mobile > li > a .first-word::before { color: var(--secondary-color); top: 160%; }
.menu-listing-mobile > li > a .second-word::before { bottom: 160%; color: var(--secondary-color); }
.menu-listing-mobile > li.active > a .first-word,
.menu-listing-mobile > li > a:hover .first-word { -webkit-transform: translate3d(0, -160%, 0); -moz-transform: translate3d(0, -160%, 0); -ms-transform: translate3d(0, -160%, 0); -o-transform: translate3d(0, -160%, 0); transform: translate3d(0, -160%, 0); }
.menu-listing-mobile > li.active > a .second-word,
.menu-listing-mobile > li > a:hover .second-word { -webkit-transform: translate3d(0, 160%, 0); -moz-transform: translate3d(0, 160%, 0); -ms-transform: translate3d(0, 160%, 0); -o-transform: translate3d(0, 160%, 0); transform: translate3d(0, 160%, 0); }

	/*------- Mobile Menu Section Ends -------*/

  /*------- Desktop Menu Section Starts -------*/

.bg-menu-desktop { display: none; }

	/*------- Desktop Menu Section Ends -------*/

  /*------- Banner Section Starts -------*/

.bg-banner { padding-bottom: 0; }
.bg-banner,
.box-banner-info { height: auto; }
.banner-info { position: static; -webkit-transform: none; -moz-transform: none; -ms-transform: none; -o-transform: none; transform: none; }
.banner-logo > a { margin-bottom: 20px; }
.banner-logo > a > img { width: 200px; }
.banner-page-name > h1 { font-size: 3rem; margin-bottom: 20px; }
.banner-page-name > h1 > span { display: inline; }
.box-banner-image { -webkit-border-radius: 24px; -moz-border-radius: 24px; -ms-border-radius: 24px; -o-border-radius: 24px; border-radius: 24px; height: 50vh; }

  /*------- Banner Section Ends -------*/

  /*------- About Us Section Starts -------*/

.about-image > img { margin-bottom: 20px; }
.about-info > p { margin-bottom: 15px; }

  /*------- About Us Section Ends -------*/

  /*------- Counter Section Starts -------*/

.bg-counter { padding-bottom: 0; }
.box-counter { margin-bottom: 20px; }
.counter-name > span { font-size: 2rem; }
.box-counter > h2 { font-size: 2.7rem; }

  /*------- Counter Section Ends -------*/

  /*------- Gallery Section Starts -------*/

.box-gallery { margin-bottom: 20px; }
.box-gallery-heading > h3 { font-size: 1.8rem; }
.view-more-gallery { margin-top: 0; }

  /*------- Gallery Section Ends -------*/

  /*------- Footer Section Starts -------*/

.footer-row-border-top-bottom { border-top: 0; }
.footer-middle-border-lr { border-left: 0; border-right: 0; }
.footer-useful-links-heading,
.quick-links-listing { padding-left: 0; }
.footer-heading > h4 { margin-top: 0; text-align: left; }
.footer-logo { margin: 30px 0; }
.footer-contact-address,
.footer-mob-email,
.footer-about-desc > p { margin-bottom: 20px; }
.footer-contact-address > address > p { text-align: left; }
.footer-contact-address > address > p > span { display: block; }
.footer-mob-email > p,
.footer-about-desc > p { text-align: left; }
.footer-heading-about,
.footer-heading-follow-us { padding-right: 0; text-align: center; }
.footer-social-links-listing { justify-content: flex-start; margin-bottom: 20px; }
.copyright-info > p { margin-top: 20px; text-align: center; }

  /*------- Footer Section Ends -------*/

/*------- Home Page Ends -------*/

/*------- About Us Page Starts -------*/

  /*------- About Us Section Starts -------*/

.about-info-more-ap { margin: 15px 0 0; }
.about-info-more-ap > p { margin-bottom: 15px; }

  /*------- About Us Section Ends -------*/

/*------- About Us Page Ends -------*/

/*------- Gallery Page Ends -------*/

  /*------- Gallery Section Starts -------*/

.bg-gallery-gp { padding: 20px 15px 0; }
.gallery-listing { margin-bottom: 15px; }
.gallery-listing > li { display: inline-block; margin: 0 15px 15px 0; padding: 7px 25px; }

  /*------- Gallery Section Ends -------*/

/*------- Gallery Page Ends -------*/

/*------- Contact Us Page Ends -------*/

  /*------- Contact Us Section Starts -------*/

.box-contact-info-cp { margin-bottom: 55px; }
.box-email-contact-info-cp { margin-bottom: 0; }

  /*------- Contact Us Section Ends -------*/

/*------- Contact Us Page Ends -------*/

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

/*------- Common CSS Starts -------*/

body.active { overflow: hidden; }
.container-fluid { padding: 30px; }
.section-heading > h2 { font-size: 3rem; margin-bottom: 30px; }
p { text-align: justify; }

/*------- Common CSS Ends -------*/

/*------- Home Page Starts -------*/

  /*------- Hamburger Menu Section Starts -------*/

.bg-hamburger-menu { display: block; padding: 0; }
.bg-hamburger-menu > .row { margin: 0; }
.hamburger-menu { background-color: var(--primary-color); cursor: pointer; height: 50px; margin: 0 auto; position: relative; width: 50px; z-index: 3; }
.hamburger-menu span { background-color: var(--white); height: 2px; left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); -webkit-transition: 0.5s ease 0.5s; -moz-transition: 0.5s ease 0.5s; -ms-transition: 0.5s ease 0.5s; -o-transition: 0.5s ease 0.5s; transition: 0.5s ease 0.5s; width: 25px; z-index: 1; }
.hamburger-menu span::before,
.hamburger-menu span::after { background-color: var(--white); content: ""; display: block; height: 2px; position: absolute; top: 10px; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; width: 25px; z-index: 1; }
.hamburger-menu span::before { top: -10px; }
.hamburger-menu.active span { background-color: transparent; -webkit-transition: 0s ease; -moz-transition: 0s ease; -ms-transition: 0s ease; -o-transition: 0s ease; transition: 0s ease; }
.hamburger-menu.active span::before { background-color: var(--white); top: 0; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.hamburger-menu.active span::after { background-color: var(--white); top: 0; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }

  /*------- Hamburger Menu Section Ends -------*/

  /*------- Mobile Menu Section Starts -------*/

.navbar-menu-mobile { background-color: var(--primary-color); display: block; height: 100%; left: 0; position: absolute; top: 0; -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); -ms-transform: translateY(-100%); -o-transform: translateY(-100%); transform: translateY(-100%); -webkit-transition: 0.5s ease 1s; -moz-transition: 0.5s ease 1s; -ms-transition: 0.5s ease 1s; -o-transition: 0.5s ease 1s; transition: 0.5s ease 1s; width: 100%; z-index: 2; }
.navbar-menu-mobile.active { -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); -webkit-transition: 1s ease; -moz-transition: 1s ease; -ms-transition: 1s ease; -o-transition: 1s ease; transition: 1s ease; }
.menu-listing-mobile { left: 50%; opacity: 0; position: absolute; text-align: center; top: 45%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); -webkit-transition: 1s ease 0s; -moz-transition: 1s ease 0s; -ms-transition: 1s ease 0s; -o-transition: 1s ease 0s; transition: 1s ease 0s; visibility: hidden; width: 100%; z-index: 2; }
.menu-listing-mobile.active { opacity: 1; top: 50%; -webkit-transition: 1s ease 1s; -moz-transition: 1s ease 1s; -ms-transition: 1s ease 1s; -o-transition: 1s ease 1s; transition: 1s ease 1s; visibility: visible; }
.menu-listing-mobile > li > a { color: var(--white); display: block; font: 3rem/1.4 "Mulish-Bold"; overflow: hidden; padding: 5px 0; text-transform: uppercase; }
.menu-listing-mobile > li > a .first-word,
.menu-listing-mobile > li > a .second-word { display: inline-block; position: relative; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.menu-listing-mobile > li > a .second-word { margin-left: -8px; }
.menu-listing-mobile > li > a .first-word::before,
.menu-listing-mobile > li > a .second-word::before { content: attr(data-hover); position: absolute; }
.menu-listing-mobile > li > a .first-word::before { color: var(--secondary-color); top: 160%; }
.menu-listing-mobile > li > a .second-word::before { bottom: 160%; color: var(--secondary-color); }
.menu-listing-mobile > li.active > a .first-word,
.menu-listing-mobile > li > a:hover .first-word { -webkit-transform: translate3d(0, -160%, 0); -moz-transform: translate3d(0, -160%, 0); -ms-transform: translate3d(0, -160%, 0); -o-transform: translate3d(0, -160%, 0); transform: translate3d(0, -160%, 0); }
.menu-listing-mobile > li.active > a .second-word,
.menu-listing-mobile > li > a:hover .second-word { -webkit-transform: translate3d(0, 160%, 0); -moz-transform: translate3d(0, 160%, 0); -ms-transform: translate3d(0, 160%, 0); -o-transform: translate3d(0, 160%, 0); transform: translate3d(0, 160%, 0); }

	/*------- Mobile Menu Section Ends -------*/

  /*------- Desktop Menu Section Starts -------*/

.bg-menu-desktop { display: none; }

	/*------- Desktop Menu Section Ends -------*/

  /*------- Banner Section Starts -------*/

.bg-banner { padding-bottom: 0; }
.bg-banner,
.box-banner-info { height: auto; }
.banner-info { position: static; -webkit-transform: none; -moz-transform: none; -ms-transform: none; -o-transform: none; transform: none; }
.banner-logo > a > img { width: 200px; }
.banner-page-name > h1 { font-size: 3.6rem; margin-bottom: 30px; }
.banner-page-name > h1 > span { display: inline; }
.box-banner-image { -webkit-border-radius: 24px; -moz-border-radius: 24px; -ms-border-radius: 24px; -o-border-radius: 24px; border-radius: 24px; height: 75vh; }

  /*------- Banner Section Ends -------*/

  /*------- About Us Section Starts -------*/

.about-image > img { margin-bottom: 30px; }

  /*------- About Us Section Ends -------*/

  /*------- Counter Section Starts -------*/

.counter-name > span { font-size: 2.2rem; }
.box-counter > h2 { font-size: 3rem; }

  /*------- Counter Section Ends -------*/

  /*------- Gallery Section Starts -------*/

.box-gallery-heading > h3 { font-size: 2rem; }
.view-more-gallery { margin-top: 0; }

  /*------- Gallery Section Ends -------*/

  /*------- Footer Section Starts -------*/

.bg-footer > .row { margin: 0 -30px; }
.footer-useful-links-heading,
.quick-links-listing { padding-left: 15px; }
.footer-heading > h4 { line-height: 1.6; margin: 30px 0 20px; }
.footer-logo { margin: 30px 0; }
.footer-mob-email { margin-bottom: 30px; }
.footer-heading-about,
.footer-heading-follow-us,
.footer-about-desc,
.footer-social-links-listing { padding-right: 15px; }
.copyright-info > p { margin-top: 30px; }

  /*------- Footer Section Ends -------*/

/*------- Home Page Ends -------*/

/*------- About Us Page Starts -------*/

  /*------- About Us Section Starts -------*/

.about-info-more-ap { margin: 20px 0 0; }

  /*------- About Us Section Ends -------*/

/*------- About Us Page Ends -------*/

/*------- Gallery Page Ends -------*/

  /*------- Gallery Section Starts -------*/

.bg-gallery-gp { padding: 30px 30px 0; }
.gallery-listing { margin-bottom: 15px; }
.gallery-listing > li { display: inline-block; margin: 0 15px 15px 0; padding: 7px 25px; }

  /*------- Gallery Section Ends -------*/

/*------- Gallery Page Ends -------*/

/*------- Contact Us Page Ends -------*/

  /*------- Contact Us Section Starts -------*/

.box-contact-info-cp { margin-bottom: 65px; }
.box-email-contact-info-cp { margin-bottom: 0; }

  /*------- Contact Us Section Ends -------*/

/*------- Contact Us Page Ends -------*/

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

/*------- Common CSS Starts -------*/

.container-fluid { padding: 30px; }
.section-heading > h2 { font-size: 3rem; margin-bottom: 30px; }
p { text-align: justify; }

/*------- Common CSS Ends -------*/

/*------- Home Page Starts -------*/

  /*------- Banner Section Starts -------*/

.bg-banner { padding: 0; }
.banner-logo > a > img { width: 200px; }
.banner-page-name > h1 { font-size: 3.6rem; }

  /*------- Banner Section Ends -------*/

  /*------- About Us Section Starts -------*/

.about-image > img { margin-bottom: 30px; }

  /*------- About Us Section Ends -------*/

  /*------- Counter Section Starts -------*/

.counter-name > span { font-size: 2.2rem; }
.box-counter > h2 { font-size: 3rem; }

  /*------- Counter Section Ends -------*/

  /*------- Gallery Section Starts -------*/

.box-gallery-heading > h3 { font-size: 2rem; }
.view-more-gallery { margin-top: 0; }

  /*------- Gallery Section Ends -------*/

  /*------- Footer Section Starts -------*/

.bg-footer > .row { margin: 0 -30px; }
.footer-useful-links-heading,
.quick-links-listing { padding-left: 15px; }
.footer-heading > h4 { line-height: 1.6; margin: 30px 0 20px; }
.footer-logo { margin: 30px 0; }
.footer-mob-email { margin-bottom: 30px; }
.footer-heading-about,
.footer-heading-follow-us,
.footer-about-desc,
.footer-social-links-listing { padding-right: 15px; }
.copyright-info > p { margin-top: 30px; }

  /*------- Footer Section Ends -------*/

/*------- Home Page Ends -------*/

/*------- About Us Page Starts -------*/

  /*------- About Us Section Starts -------*/

.about-info-more-ap { margin: 20px 0 0; }

  /*------- About Us Section Ends -------*/

/*------- About Us Page Ends -------*/

/*------- Gallery Page Ends -------*/

  /*------- Gallery Section Starts -------*/

.bg-gallery-gp { padding: 30px 30px 0; }
.gallery-listing { margin-bottom: 15px; }
.gallery-listing > li { display: inline-block; margin: 0 15px 15px 0; padding: 7px 25px; }

  /*------- Gallery Section Ends -------*/

/*------- Gallery Page Ends -------*/

/*------- Contact Us Page Ends -------*/

  /*------- Contact Us Section Starts -------*/

.box-contact-info-cp { padding: 60px 20px 30px; }

  /*------- Contact Us Section Ends -------*/

/*------- Contact Us Page Ends -------*/

}