/*------- Font Family Starts -------*/

@font-face { font-family: "Mulish-Light"; src: url("../fonts/Mulish-Light.ttf"); }
@font-face { font-family: "Mulish-Regular"; src: url("../fonts/Mulish-Regular.ttf"); }@font-face { font-family: "Mulish-Medium"; src: url("../fonts/Mulish-Medium.ttf"); }
@font-face { font-family: "Mulish-SemiBold"; src: url("../fonts/Mulish-SemiBold.ttf"); }
@font-face { font-family: "Mulish-Bold"; src: url("../fonts/Mulish-Bold.ttf"); }

/*------- Font Family Ends -------*/

/*------- Root CSS Starts -------*/

:root {
  --primary-color: #1c0b00;
  --secondary-color: #ff9800;
  --white: #ffffff;
  --black: #000000;
  --color-1: #b7b7b7;
}

/*------- Root CSS Ends -------*/

/*------- Reset CSS Starts -------*/

html { font-size: 10px; letter-spacing: 0.5px; -webkit-user-select: none; -ms-user-select: none; user-select: none; }
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
address { margin: 0; padding: 0; }
li { list-style: none; }
a,
a:hover,
a:focus { outline: 0; text-decoration: none; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }

/*------- Reset CSS Ends -------*/

/*------- Common CSS Starts -------*/

.container-fluid { padding: 50px; }
.container-fluid > .row { margin: 0 -15px; }
.container-fluid > .row > [class^=col] { padding: 0 15px; }
.section-heading > h2 { color: var(--primary-color); font: 3.6rem/1.4 "Mulish-Bold"; margin-bottom: 30px; }
.section-heading > h2 > span { color: var(--secondary-color); }
p { color: var(--primary-color); font: 1.8rem/1.7 "Mulish-Regular"; }
.read-more > a { background-color: var(--secondary-color); -webkit-border-radius: 30px; -moz-border-radius: 30px; -ms-border-radius: 30px; -o-border-radius: 30px; border-radius: 30px; color: var(--white); display: inline-block; font: 1.6rem/1.5 "Mulish-Regular"; padding: 10px 20px; text-align: center; text-transform: uppercase; }
.read-more > a:hover { background-color: var(--primary-color); color: var(--white); }

/*------- Common CSS Ends -------*/

/*------- Home Page Starts -------*/

  /*------- Mobile Logo and Burger Menu Section Starts -------*/



	/*------- Mobile Logo and Burger Menu Section Ends -------*/

  /*------- Desktop Menu Section Starts -------*/

.bg-menu-desktop { display: block; left: 0; padding: 25px 50px; position: absolute; top: 0; width: 58.33333333%; z-index: 2; }
.menu-listing-desktop > li { display: inline-block; margin-right: 50px; position: relative; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.menu-listing-desktop > li:last-child { margin-right: 0; }
.menu-listing-desktop > li > a { color: #000; display: block; font: 1.8rem/1.4 "Mulish-Medium"; overflow: hidden; padding: 5px 0; text-transform: uppercase; }
.menu-listing-desktop > li > a .first-word,
.menu-listing-desktop > li > a .second-word { display: inline-block; position: relative; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.menu-listing-desktop > li > a .second-word { margin-left: -5px; }
.menu-listing-desktop > li > a .first-word::before,
.menu-listing-desktop > li > a .second-word::before { content: attr(data-hover); position: absolute; }
.menu-listing-desktop > li > a .first-word::before { color: var(--secondary-color); top: 160%; }
.menu-listing-desktop > li > a .second-word::before { bottom: 160%; color: var(--secondary-color); }
.menu-listing-desktop > li.active > a .first-word,
.menu-listing-desktop > li > a:hover .first-word { -webkit-transform: translate3d(0, -160%, 0); -moz-transform: translate3d(0, -160%, 0); -ms-transform: translate3d(0, -160%, 0); -o-transform: translate3d(0, -160%, 0); transform: translate3d(0, -160%, 0); }
.menu-listing-desktop > li.active > a .second-word,
.menu-listing-desktop > li > a:hover .second-word { -webkit-transform: translate3d(0, 160%, 0); -moz-transform: translate3d(0, 160%, 0); -ms-transform: translate3d(0, 160%, 0); -o-transform: translate3d(0, 160%, 0); transform: translate3d(0, 160%, 0); }

	/*------- Desktop Menu Section Ends -------*/

  /*------- Banner Section Starts -------*/

.bg-banner { height: 100vh; padding: 0; position: relative; z-index: 1; }
.bg-banner > .row { margin: 0; }
.bg-banner > .row > [class^=col] { padding: 0; }
.box-banner-image { background: url("../images/gallery-1.jpg") no-repeat top/cover; height: 100vh; }
.box-banner-info { height: 100vh; position: relative; z-index: 1; }
.banner-info { left: 50%; position: absolute; text-align: center; top: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%); width: 100%; z-index: 1; }
.banner-logo > a { display: inline-block; margin-bottom: 30px; }
.banner-logo > a > img { width: 250px; }
.banner-page-name > h1 { color: var(--primary-color); font: 4rem/1.4 "Mulish-Bold"; text-align: center; }
.banner-page-name > h1 > span { color: var(--secondary-color); display: block; }

  /*------- Banner Section Ends -------*/

  /*------- About Us Section Starts -------*/

.about-image > img { -webkit-border-radius: 24px; -moz-border-radius: 24px; -ms-border-radius: 24px; -o-border-radius: 24px; border-radius: 24px; width: 100%; }
.about-info > p { margin-bottom: 20px; }

  /*------- About Us Section Ends -------*/

  /*------- Counter Section Starts -------*/

.bg-counter { background-color: var(--secondary-color); }
.counter-name > span { color: var(--primary-color); display: block; font: 2.4rem/1.4 "Mulish-Bold"; margin-bottom: 0px; }
.box-counter > h2 { color: var(--white); font: 3.6rem/1.4 "Mulish-SemiBold"; }

  /*------- Counter Section Ends -------*/

  /*------- Gallery Section Starts -------*/

.box-gallery { margin-bottom: 30px; }
a[data-fancybox="images"] { border: 4px solid transparent; -webkit-border-radius: 24px; -moz-border-radius: 24px; -ms-border-radius: 24px; -o-border-radius: 24px; border-radius: 24px; display: block; margin-bottom: 15px; overflow: hidden; position: relative; z-index: 1; }
a[data-fancybox="images"]:hover { border: 4px solid var(--primary-color); }
a[data-fancybox="images"]::before {
  background-color: rgb(28 11 0 / 90%);
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  content: "";
  display: block;
  height: 80%;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%,-50%) scale(1.25);
  -moz-transform: translate(-50%,-50%) scale(1.25);
  -ms-transform: translate(-50%,-50%) scale(1.25);
  -o-transform: translate(-50%,-50%) scale(1.25);
  transform: translate(-50%,-50%) scale(1.25);
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  visibility: hidden;
  width: 80%;
  z-index: 1;
}
a[data-fancybox="images"]:hover::before {
  opacity: 1;
  -webkit-transform: translate(-50%,-50%) scale(1);
  -moz-transform: translate(-50%,-50%) scale(1);
  -ms-transform: translate(-50%,-50%) scale(1);
  -o-transform: translate(-50%,-50%) scale(1);
  transform: translate(-50%,-50%) scale(1);
  visibility: visible;
}
a[data-fancybox="images"] > img { width: 100%; }
a[data-fancybox="images"] > img,
.fancybox-image { -webkit-border-radius: 24px; -moz-border-radius: 24px; -ms-border-radius: 24px; -o-border-radius: 24px; border-radius: 24px; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
a[data-fancybox="images"]:hover > img { -webkit-transform: scale(1.3) rotate(7deg); -moz-transform: scale(1.3) rotate(7deg); -ms-transform: scale(1.3) rotate(7deg); -o-transform: scale(1.3) rotate(7deg); transform: scale(1.3) rotate(7deg); }
.box-gallery-heading { left: 50%; opacity: 0; position: absolute; top: 50%; -webkit-transform: translate(-50%,-50%) scale(0.7); -moz-transform: translate(-50%,-50%) scale(0.7); -ms-transform: translate(-50%,-50%) scale(0.7); -o-transform: translate(-50%,-50%) scale(0.7); transform: translate(-50%,-50%) scale(0.7); -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; visibility: hidden; width: 100%; z-index: 1; }
.box-gallery-heading > h3 { color: var(--white); font: 2.4rem/1.4 "Mulish-SemiBold"; text-transform: uppercase; }
a[data-fancybox="images"]:hover > .box-gallery-heading { opacity: 1; -webkit-transform: translate(-50%,-50%) scale(1); -moz-transform: translate(-50%,-50%) scale(1); -ms-transform: translate(-50%,-50%) scale(1); -o-transform: translate(-50%,-50%) scale(1); transform: translate(-50%,-50%) scale(1); visibility: visible; }
.gallery-heading > h4 { font: 1.8rem/1.4 "Mulish-SemiBold"; text-transform: uppercase; }
.view-more-gallery { margin-top: 30px; }

  /*------- Gallery Section Ends -------*/

  /*------- Footer Section Starts -------*/

.bg-footer { background-color: var(--primary-color); padding-bottom: 50px; padding-top: 75px; }
.footer-row-border-top-bottom { border-bottom: 1px solid #ffffff12; border-top: 1px solid #ffffff12; }
.footer-heading > h4 { color: var(--white); font: 1.8rem/1 "Mulish-Medium"; letter-spacing: 4px; margin: 50px 0 20px; text-align: center; text-transform: uppercase; }
.footer-heading-about > h4 { text-align: right; }
.footer-useful-links-heading,
.quick-links-listing { padding-left: 30px; }
.footer-useful-links-heading > h4 { text-align: left; }
.quick-links-listing > li { display: block; margin-bottom: 10px; }
.quick-links-listing > li:last-child { margin-bottom: 0; }
.quick-links-listing > li > a { color: var(--color-1); font: 1.8rem/1.5 "Mulish-Light"; }
.quick-links-listing > li > a:hover { color: var(--secondary-color); }
.footer-middle-border-lr { border-left: 1px solid #ffffff12; border-right: 1px solid #ffffff12; }
.footer-logo { margin: 50px 0 30px; }
.footer-logo > a { display: inline-block; }
.footer-logo > a > img { height: 200px; }
.footer-contact-address { margin-bottom: 30px; }
.footer-contact-address > address > p { color: var(--color-1); font-family: "Mulish-Light"; text-align: center; }
.footer-mob-email { margin-bottom: 50px; }
.footer-mob-email > p { text-align: center; }
.footer-mob-email > p > a { color: var(--color-1); }
.footer-mob-email > p:last-child > a { text-decoration: underline; }
.footer-mob-email > p > a:hover { color: var(--secondary-color); }
.footer-heading-about,
.footer-heading-follow-us { padding-right: 30px; text-align: right; }
.footer-heading-follow-us { margin-top: 0; }
.footer-heading-follow-us > h4 { text-align: right; }
.footer-about-desc,
.footer-social-links-listing { padding-right: 30px; }
.footer-about-desc > p { color: var(--color-1); font-family: "Mulish-Light"; text-align: right; }
.footer-social-links-listing { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; justify-content: flex-end; }
.footer-social-links-listing > li { display: inline-block; margin-right: 20px; }
.footer-social-links-listing > li:last-child { margin-right: 0; }
.footer-social-links-listing > li > a { color: var(--color-1); font-size: 1.8rem; }
.footer-social-links-listing > li > a > i { -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.footer-social-links-listing > li > a:hover > i { color: var(--secondary-color); }
.footer-social-links-listing > li > a:hover > i { -webkit-transform: scale(1.25); -moz-transform: scale(1.25); -ms-transform: scale(1.25); -o-transform: scale(1.25); transform: scale(1.25); }
.copyright-info > p { color: var(--color-1); font-size: 1.6rem; margin-top: 50px; text-align: center; }
.copyright-info > p > span { color: var(--secondary-color); }

  /*------- Footer Section Ends -------*/

/*------- Home Page Ends -------*/

/*------- About Us Page Ends -------*/

  /*------- About Us Section Starts -------*/

.about-info-ap > p:last-child { margin-bottom: 0; }

  /*------- About Us Section Ends -------*/

/*------- About Us Page Ends -------*/

/*------- Gallery Page Ends -------*/

  /*------- Gallery Section Starts -------*/

.bg-gallery-gp { padding: 50px 50px 20px; }
.gallery-listing { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; flex-wrap: wrap; justify-content: center; margin-bottom: 30px; }
.gallery-listing > li { border: 2px solid var(--primary-color); -webkit-border-radius: 26px; -moz-border-radius: 26px; -ms-border-radius: 26px; -o-border-radius: 26px; border-radius: 26px; color: var(--primary-color); cursor: pointer; font: 1.8rem/1.5 "Mulish-SemiBold"; margin-right: 15px; padding: 10px 25px; text-align: center; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.gallery-listing > li:last-child { margin-right: 0; }
.gallery-listing > li.active,
.gallery-listing > li:hover { background-color: var(--primary-color); color: var(--white); }

  /*------- Gallery Section Ends -------*/

/*------- Gallery Page Ends -------*/